<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
    <h1>Notification from <span>tomorr</span></h1>

    <div>
        <p><span th:text="${artistName}"><b>ArtistName</b></span> just released a new <span
                th:text="${type}">Type</span></p>
        <h2 th:text="${albumName}">AlbumName</h2>
    </div>
    <img src="https://cdn.pixabay.com/photo/2022/06/19/04/25/cat-7271017_960_720.jpg" th:src="${albumCover}" class="w-full h-auto" />
</div>
</body>
</html>